Checks: >-
  -*,
  clang-analyzer-*,
  bugprone-sizeof-expression,
  bugprone-use-after-move,
  performance-*,
  portability-simd-intrinsics
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle: file
